/* bungee-regular - latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/assets/fonts/bungee.woff2') format('woff2'),
    url('/assets/fonts/bungee.woff') format('woff');
  font-display: swap;
}

:root {
  --jersey-colour: #1a1a1a;
  --jersey-star: #c1a91f;
  --jersey-trim: #891e26;
  --jersey-logo: #f9f9fe;

  --code-dark: #000;
  --code-light: #1a1919;

  --background: var(--jersey-logo);
  --text-color: var(--jersey-colour);
  --external-link: var(--jersey-trim);
  --code-background: var(--code-light);

  --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --heading-font: 'Bungee', var(--body-font);

  /* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --step--2: clamp(0.96rem, calc(0.89rem + 0.1vw), 0.91rem);
  --step--1: clamp(1.2rem, calc(1.05rem + 0.21vw), 1.09rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

  background: var(--background);
  color: var(--text-color);
  font-family: var(--body-font);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

:is(h1, h2, h3, h4) {
  font-family: var(--heading-font);
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
  min-height: calc(var(--step-3) + 0.5rem);
}

h3 {
  font-size: var(--step-1);
  min-height: calc(var(--step-1) + 0.5rem);
}

h4 {
  font-size: var(--step-0);
  min-height: calc(var(--step-0) + 0.5rem);
}

body {
  font-size: var(--step-0);
}

@media (prefers-color-scheme: dark) {
  html {
    --background: var(--jersey-colour);
    --text-color: var(--jersey-logo);
    --external-link: var(--jersey-star);
    --code-background: var(--code-dark);
  }

  [data-user-color-scheme='light'] {
    --background: var(--jersey-logo);
    --text-color: var(--jersey-colour);
    --external-link: var(--jersey-trim);
    --code-background: var(--code-light);
  }

  html:not([data-user-color-scheme]) {
    --background: var(--jersey-colour);
    --text-color: var(--jersey-logo);
    --external-link: var(--jersey-star);
    --code-background: var(--code-dark);
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--jersey-colour);
  --text-color: var(--jersey-logo);
  --external-link: var(--jersey-star);
  --code-background: var(--code-dark);
}

* {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
button {
  font-size: var(--step--1);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 1rem;
  flex-wrap: wrap;
  min-height: 5rem;
}

@media screen and (max-width: 800px) {
  header {
    margin-top: var(--step--2);
    justify-content: center;
    flex-direction: column;
  }

  header > a.logo {
    margin-right: 0;
  }

  .more-reading {
    flex-direction: column;
    gap: 1.5rem;
  }
}

header > .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}

header > .logo h1 {
  color: var(--text-color);
  margin: 0;
  line-height: 1;
  font-size: var(--step-2);
}

main {
  line-height: 1.5;
}

section {
  max-width: 90ch;
  margin: auto;
  padding: 1.5rem 1rem;
}

section > h2 {
  margin-top: 0;
}

section + section {
  margin-top: 2rem;
}

main a {
  display: inline-block;
  padding: 0.25rem;
  color: var(--text-color);
}

a:not(.icon-container):is([href^="http://"], [href^="https://"]):not([href*="declanbyrd.co.uk"])
{
  color: var(--external-link);
}

a:not(.icon-container, .webmention-like):is([href^="http://"], [href^="https://"]):not([href*="declanbyrd.co.uk"]):after
{
  content: ' ↗';
}

img,
picture {
  position: relative;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: var(--step-4);
}

.accent {
  color: var(--external-link);
}

.skip-link {
  position: absolute;
  top: -50vh;
  left: calc(45vw - 4rem);
  padding: 2rem;
  z-index: 2;
  background: var(--background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 5px solid var(--external-link);
  color: var(--text-color);
  transition: top 500ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: var(--text-color);
}

.hover-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

.hover-link::before {
  content: '';
  position: absolute;
  width: calc(100% - 0.5rem);
  height: 0.125rem;
  bottom: 0;
  left: 0.25rem;
  background: var(--external-link);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
}

.horizontal-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

header .horizontal-links {
  justify-content: center;
}

.social-icon {
  fill: var(--text-color);
  stroke: var(--background);
  transition: fill 300ms ease-in-out;
}

.autofit-grid {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 20rem;
  padding: 0;
}

.autofit-grid.preview {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-rows: 10rem;
}

.photos a {
  position: relative;
  display: block;
  height: 100%;
}

[data-user-color-scheme='dark'] .photo-item {
  filter: brightness(0.75);
}

.photo-item {
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 300ms ease-in;
}

:is(.photo-item, picture) + .gallery-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  fill: var(--external-link);
}

.date {
  color: var(--text-color);
  filter: contrast(80%);
  padding-left: 0.25rem;
}

html.no-js .toggle {
  display: none;
}

.toggle {
  background: none;
  border: none;
  padding: 0 0 0 0.125rem;
  cursor: pointer;
  color: var(--text-color);
  width: 1.875rem;
}

.toggle-icon {
  fill: var(--text-color);
  transition: fill 200ms ease-out;
}

@media screen and (max-width: 500px) {
  .autofit-grid {
    display: flex;
    flex-direction: column;
  }
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0;
}

.content-list time {
  font-style: italic;
}

.content-list li {
  list-style-type: none;
}

.content-list h3 {
  margin: 0.25rem 0;
}

.icon-container {
  display: flex;
  color: var(--text-color);
}

footer .h-card {
  display: none;
}

.hidden-metadata {
  display: none;
}

.intro {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: 13.125rem;
}

.intro h1 {
  margin: 0.25rem 0;
  flex: 1;
  line-height: 1.125;
}

.intro h1 span {
  display: block;
}

.intro .logo {
  flex: 1 1 auto;
  min-width: 7rem;
  max-width: 10rem;
  width: clamp(7rem, 7rem + 0.1vw, 20rem);
  height: 100%;
  fill: var(--text-color);
  margin: auto;
}
