/* bungee-regular - latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url(/assets/fonts/bungee.woff2) format('woff2'),
    url(/assets/fonts/bungee.woff) format('woff');
}

:is(h1, h2, h3, h4) {
  font-family: var(--heading-font);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
  min-height: calc(var(--step-2) + 0.5rem);
}

h2[id] {
  scroll-margin-top: var(--step-2);
}

h3 {
  font-size: var(--step-1);
  min-height: calc(var(--step-1) + 0.5rem);
}

h4 {
  font-size: var(--step-0);
  min-height: calc(var(--step-0) + 0.5rem);
}

body {
  font-size: var(--step-0);
}

* {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  font-size: var(--step-0);
}

blockquote {
  margin: 0;
}

blockquote > p {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.25rem 1rem;
  flex-wrap: wrap;
  min-height: 5rem;
  margin-block-start: var(--space-xs);
}

@media screen and (max-width: 800px) {
  header {
    justify-content: center;
    flex-direction: column;
  }

  header > a.logo {
    margin-right: 0;
  }

  .more-reading {
    flex-direction: column;
    gap: 1.5rem;
  }
}

header > .logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}

header > .logo span {
  color: var(--text-color);
  margin: 0;
  line-height: 1;
  font-size: var(--step-2);
  font-family: var(--heading-font);
}

main {
  line-height: 1.7;
}

section {
  max-width: 90ch;
  margin: auto;
  padding: 0 var(--space-xs);
}

main > * + * {
  margin-block-start: var(--flow-space, 1em);
}

main a {
  display: inline-block;
  padding: var(--space-3xs);
  color: var(--text-color);
  /* From https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* Break urls that won't wrap nice */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

a:not(.icon-container):is([href^="http://"], [href^="https://"]):not([href*="https://declanbyrd.co.uk"])
{
  color: var(--external-link);
}

a:not(.icon-container):is([href^="http://"]:visited, [href^="https://"]):not([href*="https://declanbyrd.co.uk"]):visited
{
  color: var(--visited);
}

a:not(.icon-container, .webmention-like):is([href^="http://"], [href^="https://"]):not([href*="https://declanbyrd.co.uk"]):after
{
  content: ' ↗';
}

img,
picture {
  position: relative;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xs);
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 90ch;
  margin: var(--space-xl) auto var(--space-l);
}

footer p.license {
  padding: 0 var(--space-m);
}

nav[aria-label='main navigation'] {
  padding: var(--space-l) 0;
  border-top: 0.0125rem solid var(--external-link);
  width: 100%;
}

nav[aria-label='journal navigation'] {
  margin-block-end: var(--space-l);
}

nav[aria-label='main navigation'] ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0 var(--space-m);
  gap: var(--space-l);
  flex-wrap: wrap;
}

nav a {
  color: var(--text-color);
  font-family: var(--body-font);
}

nav[aria-label='main navigation'] a {
  font-size: var(--step-0);
  font-family: var(--heading-font);
}

nav[aria-label='header navigation'] a {
  font-size: var(--step-0);
}

.accent {
  color: var(--external-link);
}

.skip-link {
  position: absolute;
  top: -50vh;
  left: calc(45vw - 4rem);
  padding: 2rem;
  z-index: 2;
  background: var(--background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 5px solid var(--external-link);
  color: var(--text-color);
  transition: top 500ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: var(--text-color);
}

.horizontal-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0;
}

.horizontal-links li:first-child a {
  padding-left: 0;
}

header .horizontal-links {
  justify-content: center;
}

.social-icon {
  fill: var(--text-color);
  stroke: var(--background);
  transition: fill 300ms ease-in-out;
}

.autofit-grid {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  padding: 0;
  gap: var(--space-s);
}

.photos a {
  position: relative;
  display: block;
  height: 100%;
}

[data-user-color-scheme='dark'] .photo-item {
  filter: brightness(0.75);
}

.photo-item {
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 300ms ease-in;
}

:is(.photo-item, picture) + .gallery-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  fill: var(--external-link);
}

.date {
  color: var(--text-color);
  filter: contrast(80%);
}

html.no-js .toggle {
  display: none;
}

.toggle {
  background: none;
  border: none;
  padding: 0 0 0 0.125rem;
  cursor: pointer;
  color: var(--text-color);
  width: 1.875rem;
}

.toggle-icon {
  fill: var(--text-color);
  transition: fill 200ms ease-out;
}

@media screen and (max-width: 500px) {
  .autofit-grid {
    display: flex;
    flex-direction: column;
  }
}

.content-list {
  padding-left: 0;
  --flow-space: 4em;
}

.content-list time {
  font-style: italic;
}

.content-list li {
  list-style-type: none;
}

.content-list .post-preview-title {
  margin: 0.25rem 0;
  font-size: var(--step-1);
  min-height: calc(var(--step-1) + 0.5rem);
  font-family: var(--heading-font);
  display: block;
  padding-left: 0;
}

.icon-container {
  display: flex;
  color: var(--text-color);
}

footer .h-card {
  display: none;
}

.hidden-metadata {
  display: none;
}

.intro {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  min-height: 13.125rem;
}

.intro h1 {
  margin: 0.25rem 0;
  flex: 1;
  line-height: 1.125;
}

.intro h1 span {
  display: block;
}

.intro .logo {
  flex: 1 1 auto;
  min-width: 7rem;
  max-width: 10rem;
  width: clamp(7rem, 7rem + 0.1vw, 20rem);
  height: 100%;
  fill: var(--text-color);
  margin: auto;
}

.book-update a {
  display: inline;
}

.journal-icon {
  stroke: var(--text-color);
  fill: var(--background);
  margin-block-start: var(--space-3xs);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 2em;
}

:is(h1, h2, h3) + * {
  --flow-space: 1em;
}

.home-page {
  --flow-space: 8em;
}

.e-content {
  --flow-space: var(--space-s-m);
}

.e-content :is(pre, pre + *, figure, figure + *, h2, h3, h4) {
  --flow-space: var(--space-l-xl);
}

article.h-entry,
article.photo-entry,
article.book-entry,
article.max-width-90 {
  max-width: 90ch;
  margin: auto;
  padding: var(--space-s) var(--space-xs);
}
