.listening {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listening + .metadata {
  font-size: 1rem;
  font-style: italic;
}

.listening .track-info p {
  margin: 0;
  font-size: 1rem;
}

.listening .track-info a:first-child {
  font-weight: 800;
  font-size: 1.25rem;
  margin-left: -0.25rem;
}


.intro {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.intro h1 {
  margin: 0.25rem 0;
  flex: 1;
  line-height: 1.125;
}

.intro .logo {
  flex: 1 1 auto;
  min-width: 7rem;
  max-width: 10rem;
  width: clamp(7rem, 7rem + 0.1vw, 20rem);
  height: 100%;
  fill: var(--text-color);
  margin: auto;
}

.intro article {
  flex: 1 1 30ch;
  height: 100%;
  fill: var(--text-color);
}