@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url('/assets/fonts/Comfortaa.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: local('Comfortaa'),
    url('/assets/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

html {
  --light: #d2d6da;
  --light-alternate: #255d75;
  --dark: #2e3838;
  --dark-alternate: #242828;
  --light-accent: #e2ac19;
  --dark-accent: #0c9c76;

  --background: var(--light);
  --background-alternate: var(--light-alternate);
  --text-color: var(--dark);
  --text-color-invert: var(--light);
  --accent: var(--light-accent);

  --default-font: 'Comfortaa', sans-serif;
  --dyslexic-font: 'OpenDyslexic', sans-serif;

  --section-padding: min(calc(1rem + 1vw), 2.5rem);

  background: var(--background);
  color: var(--text-color);
  font-family: var(--default-font);
  transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-mode: 'dark';
  }

  html:not([data-user-color-scheme]) {
    --background: var(--dark);
    --background-alternate: var(--dark-alternate);
    --text-color: var(--light);
    --text-color-invert: var(--light);
    --accent: var(--dark-accent);
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--dark);
  --background-alternate: var(--dark-alternate);
  --text-color: var(--light);
  --text-color-invert: var(--light);
  --accent: var(--dark-accent);
}

[data-user-font='dyslexic'] {
  font-family: var(--dyslexic-font);
}

* {
  text-rendering: optimizeSpeed;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Font scale using Major Third with added higher point from https://type-scale.com/  */

h1 {
  font-size: 3.815rem;
  font-size: min(calc(2.441rem + 1vw), 3.815rem);
}

h2 {
  font-size: 2.441rem;
  font-size: min(calc(1.953rem + 1vw), 2.441rem);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.125rem;
  margin: 1rem 0;
  margin: min(calc(1rem + 1vw), 1.5rem) 0;
  text-transform: capitalize;
}

h3 {
  font-size: 1.563rem;
  font-size: min(calc(1.25rem + 1vw), 1.563rem);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.125rem;
  margin: 1rem 0;
  margin: min(calc(1rem + 1vw), 1.5rem) 0;
}


p {
  line-height: 2;
}

body, button {
  font-size: 1.25rem;
}

main{
  color: var(--text-color);
  background: var(--background);
  line-height: 1.25;
}

main a {
  display: inline-block;
  padding: 0.25rem;
  color: var(--text-color);
  text-decoration-color: var(--accent);
}

main a:focus {
  background: var(--accent);
  color: var(--background-alternate);
}

main .horizontal-links a:focus {
  background: var(--background);
  outline: 3px dashed var(--accent);
}

main .horizontal-links a:focus .social-icon {
  fill: var(--accent);
}

main .social-icon {
  fill: var(--text-color);
}

section {
  padding: 1rem 1rem 0 1rem;
  padding: var(--section-padding) 5vw var(--section-padding) 5vw;
}

section:nth-child(2n) {
  background: var(--background-alternate);
  color: var(--text-color-invert);
}

section:nth-child(2n) a{
  color: var(--text-color-invert);
}

.skip-link {
  position: absolute;
  top: -50vh;
  left: calc(45vw - 4rem);
  padding: 2rem;
  z-index: 2;
  background: var(--background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 5px solid var(--accent);
  color: var(--text-color);
  transition: top 500ms ease-in-out;
}

.skip-link:focus {
  top: 0;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: var(--text-color-invert);
}

main .visually-hidden {
  color: var(--text-color);
}

.marquee-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--background-alternate);
  padding: 1rem 5vw;
}

.marquee-section .hover-link:focus {
  background: var(--accent);
  color: var(--background-alternate);
}

.marquee-section > h1 {
  flex-basis: calc(12ch + 2rem);
}

.marquee-section .hover-link {
  color: var(--text-color-invert);
  padding: 0.25rem 0.5rem;
}


.marquee-section .horizontal-links a:focus {
  outline: 3px dashed var(--accent);
}

.marquee-section .horizontal-links a:focus .social-icon {
  fill: var(--accent);
}

.hover-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}

.markdown-container .hover-link {
  color: var(--text-color);
}

.hover-link::before {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  height: 0.125rem;
  bottom: 0.125rem;
  left: 0.5rem;
  background: var(--accent);
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out, visibility 300ms ease-in-out;
}

.hover-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hover-link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.hover-link.active::before {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  height: 0.125rem;
  bottom: 0.125rem;
  left: 0.5rem;
  visibility: visible;
  transform: scaleX(1);
  background: var(--accent);
}

.horizontal-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.horizontal-links li {
  margin-left: 1rem;
}

.horizontal-links li:first-child {
  margin: 0;
}

.social-icon {
  fill: var(--text-color-invert);
  transition: fill 300ms ease-in-out;
}

.social-icon:hover {
  fill: var(--accent);
}

.autofit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 3rem 0;
}

.autofit-grid.journal {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
}

.autofit-grid.photos {
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 20rem;
  padding: 0;
}

.autofit-grid.photos.preview {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
}

.photos a {
  position: relative;
  display: block;
  height: 100%;
}

[data-user-color-scheme='dark'] .photo-item {
  filter: brightness(0.75);
}

.photo-item {
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 300ms ease-in;
}

.photo-container + .gallery-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  fill: var(--accent);
}

.photos picture + .gallery-icon {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  fill: var(--accent);
}

.horizontal-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.vertical-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.vertical-list .tag {
  margin: 0.25rem 0;
}

.vertical-list .hover-link {
  margin: 0 0.5rem;
}

.horizontal-list .hover-link {
  margin: 0 0.25rem;
}

.tag {
  display: flex;
  align-items: center;
  fill: var(--accent);
  margin-right: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row :nth-child(1) {
  margin-right: 1rem;
}

.large-photo {
  height: 100%;
  width: 100%;
  margin: 0 1rem 1rem 0;
}

.callout {
  background: var(--background-alternate);
  color: var(--text-color-invert);
  border-left: 0.625rem solid var(--accent);
  margin: 1.25rem 0;
  margin: min(calc(1.25rem + 1vw), 2.5rem) 0;
  padding: 1rem 1.25rem 1rem 0.625rem;
}

.markdown-container img {
  max-width: 50rem;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
  display: block;
}

.markdown-container li {
  margin: 1rem 0;
}

.markdown-container blockquote {
  background: var(--background-alternate);
  color: var(--text-color-invert);
  border-left: 0.625rem solid var(--accent);
  margin: 1.5rem 0;
  padding: 1rem 1.25rem 1rem 0.625rem;
}

.markdown-container p > code,
.markdown-container li code {
  color: var(--accent);
}

.date {
  color: var(--text-color);
  filter: contrast(80%);
  padding-left: 0.25rem;
}

.journal.invert .date {
  color: var(--text-color-invert);
}

.list li {
  margin-bottom: 0.75rem;
  margin-bottom: min(calc(0.75rem + 1vw), 1.25rem);
}

.return-button {
  display: block;
  padding: 0.5rem 0.5rem;
  background: var(--background-alternate);
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.return-button a {
  color: var(--text-color-invert);
  text-decoration: none;
}

html.no-js .toggle {
  display: none;
}

.toggle {
  background: none;
  border: none;
  padding: 0 0 0 0.125rem;
  cursor: pointer;
  color: var(--text-color);
}

.toggle:focus {
  outline: 3px dashed var(--accent);
}

.toggle.font {
  font-family: var(--dyslexic-font);
  background: var(--background);
  border: 0.25rem solid var(--background);
  border-radius: 0.25rem;
  padding: 0.5ch 1ch;
  transition: border 200ms ease-out;
}

.toggle.font .visually-hidden {
  color: var(--text-color);
}

.toggle.font:hover, .toggle.font:focus {
  border: 0.25rem solid var(--accent);
}

[data-user-font='dyslexic'] .toggle.font {
  font-family: var(--default-font);
}

.toggle-icon {
  fill: var(--text-color-invert);
  transition: fill 200ms ease-out;
}

.toggle-icon:hover,
.toggle-icon:focus {
  fill: var(--accent);
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 970px) {
  header.marquee-section {
    flex-direction: column;
  }

  .marquee-section h1 {
    flex-basis: auto;
    margin: 1rem 0 0 0;
  }

  [data-user-font='dyslexic'] .marquee-section h1{
    margin: 0;
  }

  .marquee-section .horizontal-links {
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media screen and (max-width: 500px) {
  .autofit-grid.photos {
    display: flex;
    flex-direction: column;
  }
}

.site-logo {
  width: 3.815rem;
  width: min(calc(2.441rem + 1vw), 3.815rem);
  height: 3.815rem;
  height: min(calc(2.441rem + 1vw), 3.815rem);
  fill: var(--accent);
  margin-right: 0.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
}
