<div class="social-links">
    <a href="https://www.github.com/declanbyrd">
        <img alt="Link to Declan's Github profile" class="social-icon" src="/img/github.svg"/>
    </a>
    <a href="https://www.linkedin.com/in/declanbyrd/">
        <img alt="Link to Declan's LinkedIn profile" class="social-icon" src="/img/linked-in.svg"/>
    </a>
    <a href="https://twitter.com/Declan_Byrd">
        <img alt="Link to Declan's Twitter profile" class="social-icon" src="/img/twitter.svg"/>
    </a>
</div>
