<div class="social-links">
  <a href="https://www.github.com/declanbyrd">
    <img alt="Github Logo" class="social-icon" src="/img/github.svg" />
    <span class="hidden">Link to Declan's Github profile</span>
  </a>
  <a href="https://www.linkedin.com/in/declanbyrd/">
    <img alt="LinkedIn logo" class="social-icon" src="/img/linked-in.svg" />
    <span class="hidden">Link to Declan's Github profile</span>
  </a>
  <a href="https://twitter.com/Declan_Byrd">
    <img alt="Twitter Logo" class="social-icon" src="/img/twitter.svg" />
    <span class="hidden">Link to Declan's Github profile</span>
  </a>
</div>
