<ul class="social-links">
  <li>
    <a href="https://www.github.com/declanbyrd">
    <svg width="30" height="30" role="img" aria-labelled-by="githubTitle" focusable="false" class="icon">
      <title id="githubTitle">Github</title>
      <use href="/assets/icons/icons.svg#github"></use>
    </svg>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/declanbyrd/">
    <svg width="30" height="30" role="img" aria-labelled-by="linkedinTitle" focusable="false" class="icon">
      <title id="linkedinTitle">LinkedIn</title>
      <use href="/assets/icons/icons.svg#linkedin"></use>
    </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/Declan_Byrd">
    <svg width="30" height="30" role="img" aria-labelled-by="twitterTitle" focusable="false" class="icon">
      <title id="twitterTitle">Twitter</title>
      <use href="/assets/icons/icons.svg#twitter"></use>
    </svg>
    </a>
  </li>
</ul>
