{% for post in postslist %}
  <article class="post-preview">
    <header>
      <span class="post-data" role="contentinfo">
        {{ post.data.blogTopic }}
        <time class="postlist-date" datetime="{{ post.date | htmlDateTime }}">
          {{ post.date | dateDisplay }}
        </time>
      </span>
      <h2 class="post-title">
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a>
      </h2>
    </header>
    <p>
      {{ post.data.description }}
    </p>
    <footer class="post-tags">
      {% for tag in post.data.tags %} 
        {%- if collections.tagList.indexOf(tag) != -1 -%} 
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
            <span class="flex-icon" role="group">
              <svg width="20" height="20" role="img" aria-labelled-by="{{tag}}labelTitle" focusable="false" class="icon label">
                <title id="{{tag}}labelTitle">Label</title>
                <use href="/assets/icons/icons.svg#label"></use>
              </svg>
              <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            </span>
        {%- endif -%} 
      {% endfor %}
    </footer>
  </article>
{% endfor %}
