<article id="webmention-{{ webmention['wm-id'] }}">
  <div >
    {% if webmention.author %}
      <a href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
        {% if webmention.author.photo %}
          <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">
        {% else %}
          <img src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
        {% endif %}
        <strong >{{ webmention.author.name }}</strong>
      </a>
    {% else %}
      <span >
        <img src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="">
        <strong>Anonymous</strong>
      </span>
    {% endif %}

    {% if webmention.published %}
      <time datetime="{{ webmention.published }}">{{ webmention.published | dateFromTimestamp | readableDate("dd LLL yyyy - HH:mm") }}</time>
    {% endif %}
  </div>
  <div>
    {{ webmention.content.value | safe }}
  </div>
</article>