@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/syntax';

html {
  display: grid;
  grid-template-columns: $page-gutter-small 1fr $page-gutter-small;
  @media screen and (min-width: $breakpoint-small) {
    grid-template-columns: $page-gutter 1fr $page-gutter;
  }
  font-size: 18px;
  @media screen and (min-width: $breakpoint-small) {
    font-size: 18px;
  }
  @media screen and (min-width: $breakpoint-medium) {
    font-size: 20px;
  }
}

body {
  background-color: $primary;
  color: $primary-text;
  font-family: 'Didact Gothic';
  margin: 0;
  grid-area: 3 / 2 / 4 / 3;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  &.loaded {
    opacity: 100%;
  }
}

nav {
  grid-area: 1 / 2 / 2 / 3;
  ul {
    display: flex;
    padding: 0;
  }
}

// Page Heading

.page-header {
  .page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      list-style: none;
      margin: 0 1.25rem 0 0;
      a {
        @include links;
      }
    }
    .social-links {
      display: flex;
      list-style: none;
      fill: $secondary;
      a {
        display: inline-block;
        text-decoration: none;
        width: 1.75rem;
        height: 1.75rem;
        margin-left: 0.5rem;
        svg {
          &:hover {
            opacity: 60%;
          }
        }
      }
    }
  }
  .logo {
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 0 2rem 0;
    a {
      @include logo;
    }
  }
}

// Page footer

.page-footer {
  margin: 2rem 0;
  border-top: 0.2rem solid $secondary;
  padding-top: 1rem;
  a {
    @include links;
  }
}

.squared-photo {
  @include squared-photo;
  float: none;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-medium) {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}

// Page content

main {
  h2 {
    @include page-titles;
  }
  p {
    line-height: 1.5;
  }
  a {
    @include links;
  }
  .tag-list {
    list-style: none;
    padding: 0;
    li {
      margin: 0.5rem 0;
    }
    .tag {
      color: $primary-text;
      text-decoration: underline solid $secondary;
      margin-right: 0.3rem;
    }
  }

  // Blog Posts

  .blog-post {
    .title {
      margin: 0.2rem 0 1rem 0;
    }
    .data {
      @include blog-topic-date;
      font-size: 1rem;
      time {
        color: $primary-text;
        margin-left: 0.5rem;
      }
    }
    p {
      code {
        background-color: $primary-light;
        color: $secondary-light;
        padding: 0 0.2rem;
        font-weight: 400;
        border-radius: 0.2rem;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 80vw;
        @media screen and (min-width: $breakpoint-small) {
          max-width: 70vw;
        }
      }
    }
    blockquote {
      background-color: $primary-light;
      border-left: 0.625rem solid $secondary;
      margin: 1.5rem 0;
      padding: 1rem 1.25rem 1rem 0.625rem;
      p {
        display: inline;
        margin: 0;
      }
    }
  }
}

.post-preview {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  .post-title {
    margin: 0;
    a {
      @include page-titles;
    }
  }
  .post-data {
    @include blog-topic-date;
    time {
      color: $primary-text;
      margin-left: 0.5rem;
    }
  }
}

.flex-icon {
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0;
  img {
    margin-right: 0.35rem;
  }
}

.post-tags {
  display: flex;
  flex-direction: row;
  .tag {
    color: $secondary-light;
    text-decoration: underline solid $secondary-light;
  }
}

.photo-gallery {
  column-count: 1;
  .photo-item {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  @media screen and (min-width: $breakpoint-small) {
    column-count: 2;
  }

  @media screen and (min-width: $breakpoint-medium) {
    column-count: 3;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
