@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/syntax';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary;
  color: $primary-text;
  font-family: 'Didact Gothic';
  margin: 0 $page-gutter;
  font-size: 1.25rem;
  font-size: min(max(1rem, 2vw), 1.25rem);
  font-size: clamp(1rem, 2vw, 1.25rem);
}

// Page Heading

.page-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  margin: 1rem 0;
  .page-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .nav-item {
      flex: 0 1 6rem;
      text-align: center;
      @include header-nav-links;
      font-weight: 300;
    }
  }
  .logo {
    @include header-links;
    flex: 0 3 4rem;
    margin: 0;
  }
}

// Page footer

.page-footer {
  margin: 2rem 0;
  border-top: 0.2rem solid $secondary;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  .footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .nav-item {
      flex: 0 1 6rem;
      text-align: left;
      @include footer-nav-links;
    }
  }
}

// Page content

main {
  p {
    line-height: 1.5;
  }
  a {
    @include links;
  }
  .tag-list {
    list-style: none;
    padding: 0;
    li {
      margin: 0.5rem 0;
    }
    .tag {
      color: $primary-text;
      text-decoration: underline solid $secondary;
      margin-right: 0.3rem;
    }
  }

  // Blog Posts

  .blog-post {
    margin: 3rem 0;
    .title {
      margin: 0 0 1rem 0;
      @include page-titles;
    }
    .post-tags {
      margin: 0 0 3rem 0;
    }
    .data {
      @include blog-topic-date;
      font-size: 1rem;
      time {
        color: $primary-text;
        margin-left: 0.5rem;
      }
    }
    p {
      code {
        background-color: $primary-light;
        color: $secondary-light;
        padding: 0 0.2rem;
        font-weight: 400;
        border-radius: 0.2rem;
      }
      img {
        display: block;
        margin: 0 auto;
        max-width: 70vw;
      }
    }
    blockquote {
      background-color: $primary-light;
      border-left: 0.625rem solid $secondary;
      margin: 1.5rem 0;
      padding: 1rem 1.25rem 1rem 0.625rem;
      p {
        display: inline;
        margin: 0;
      }
    }
  }
}

.post-preview {
  display: flex;
  flex-direction: column;
  .post-title {
    margin: 0;
    a {
      @include blog-preview-titles;
    }
  }
  .post-data {
    @include blog-topic-date;
    time {
      color: $primary-text;
      margin-left: 0.5rem;
    }
  }
}

.flex-icon {
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0;
  img {
    margin-right: 0.35rem;
  }
}

.post-tags {
  display: flex;
  flex-direction: row;
  .tag {
    color: $secondary-light;
    text-decoration: underline solid $secondary-light;
  }
}

.photo-gallery {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;

  li {
    position: relative;
    display: flex;
  }
  .photo-item {
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    &.loaded {
      opacity: 1;
    }
  }
}

.hidden {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.icon {
  fill: $secondary;
  &.label {
    margin-right: 0.25rem;
  }
  &.gallery {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.flex-item {
  display: flex;
  align-items: baseline;
  &.photo-page {
    h1 {
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 0.25rem solid $secondary;
    }
    time {
      color: $secondary;
    }
  }
}

.photo {
  position: relative;
  max-height: 60vh;
  max-width: 70vw;

  &.large {
    margin-bottom: 1rem;
    display: block;
  }
}

.flex-image {
  display: flex;
  flex-direction: column;

  .squared-photo {
    @include squared-photo;
    margin: 0 auto;

    flex: 1 0 auto;
    max-height: 15rem;
  }
}

.social-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  a {
    display: inline-block;
    text-decoration: none;
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.5rem;
    svg {
      &:hover {
        opacity: 60%;
      }
    }
  }
}

.intro {
  &.small {
    font-size: 1.125rem;
    font-size: min(max(2rem, 3vw), 1.125rem);
    font-size: clamp(1.125rem, 3vw, 2rem);
    margin: 4rem 0 0 0;
    letter-spacing: 0.025rem;
    line-height: 1.25;
    font-weight: 300;
  }
  &.headline {
    font-size: 2.25rem;
    font-size: min(max(4rem, 6vw), 2.25rem);
    font-size: clamp(2.25rem, 6vw, 4rem);
    line-height: 1.25;
    margin: 0;
    font-weight: 300;
  }
}

.journal-preview {
  margin: 4rem 0 2rem 0;

  .heading {
    font-weight: 500;
    margin: 0 0 2rem 0;
    text-decoration: underline solid $secondary;
  }
}

.post-preview-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  &.top-margin {
    margin: 3rem 0;
  }
}

.page-title {
  @include page-titles;
}

.colophon {
  line-height: 2;
  h1 {
    @include page-titles;
  }
  blockquote {
    background-color: $primary-light;
    border-left: 0.625rem solid $secondary;
    margin: 1.5rem 0;
    padding: 1rem 1.25rem 1rem 0.625rem;
    p {
      display: inline;
      margin: 0;
    }
  }
  code {
    background-color: $primary-light;
    color: $secondary-light;
    padding: 0 0.2rem;
    font-weight: 400;
    border-radius: 0.2rem;
  }
}

.not-found-image {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 50vh;
  border-radius: 1rem;
  margin: 3rem auto;
}
