---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Most Recent Posts</h1>

{% set postslist = collections.posts | previewCollection(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postsList.njk" %}

<p>More posts can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>