@use 'variables';

@mixin logo {
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  letter-spacing: -0.031rem;
  color: variables.$primary-text;
  text-decoration: underline solid variables.$secondary;
  @media screen and (min-width: variables.$breakpoint-small) {
    font-size: 4rem;
  }
}

@mixin page-titles {
  font-family: 'Pt Sans', sans-serif;
  font-size: 2.125rem;
  color: variables.$primary-text;
  text-decoration: underline solid variables.$secondary;
}

@mixin blog-titles {
  font-family: 'Pt Sans', sans-serif;
  font-size: 1.5rem;
  color: variables.$primary-text;
  text-decoration: underline solid variables.$secondary;
}

@mixin blog-topic-date {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
  color: variables.$secondary-light;
}

@mixin squared-photo {
  border-radius: 0.313rem;
  max-width: 10rem;
  display: block;
}

@mixin links {
  color: variables.$primary-text;
  text-decoration: underline solid variables.$secondary;
  &:hover {
    opacity: 60%;
  }
  &:visited {
    text-decoration: underline solid $primary-text;
  }
}
