---
title: "Articles"
description: Articles that have been included in the Journal.
layout: base
pagination: 
    data: collections.articles
    size: 25
    reverse: true
permalink: "/journal/{{page.fileSlug}}/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% block content %}
    <section>
        <div class="rss-container">
            <h1 >Journal: <span class="accent">{{ title }}</span></h1>
            <a href="/journal/articles.xml" rel="me" class="[ icon ]">
                <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
                    <title id="rssTitle">RSS</title>
                    <use href="/assets/icons/icons.svg#rss"></use>
                </svg>
                <span class='[ visually-hidden ]'>View the RSS feed for article posts in the Journal</span>
            </a>
        </div>
        <p>Long form writings that have been included in the journal.</p>
        {% include "partials/journalNavigation.njk" %}
        {% set postslist = pagination.items %}
        {% include "partials/postsList.njk" %}
    </section>
    <section>
        <nav aria-label="Paged articles navigation">
            <ul class="horizontal-links more-reading">
                {% if pagination.href.previous %}
                    <li>
                        <a href="{{ pagination.href.previous }}">Previous page</a>
                    </li>
                {% endif %}
                {% if pagination.href.next %}
                    <li>
                        <a href="{{ pagination.href.next }}">Next page</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>
{% endblock %}