a:not(.icon-container):focus {
  outline: 0.125rem dashed var(--text-color);
}

.skip-link:focus {
  top: 0;
}

.social-icon:hover {
  fill: var(--external-link);
}

a:focus > .social-icon {
  fill: var(--external-link);
}

[data-user-color-scheme='dark'] .photo-item {
  filter: brightness(0.75);
}

.vertical-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.vertical-list .tag {
  margin: var(--space-3xs) 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.list li {
  margin-bottom: var(--space-2xs);
}

.toggle:focus {
  outline: 3px dashed var(--text-color);
}

.toggle-icon:hover,
.toggle-icon:focus {
  fill: var(--external-link);
}

.site-logo {
  width: var(--space-l);
  height: var(--space-l);
  fill: var(--text-color);
  margin-right: var(--space-2xs);
}

.logo:is(:focus, :hover) .site-logo {
  fill: var(--external-link);
}

.full-width {
  max-width: 100%;
  margin: 0;
}

.rss-container {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.rss-container .icon {
  display: flex;
}

.webmentions-container h2 {
  color: var(--external-link);
}

.webmentions-container h3 {
  margin-bottom: 0;
}

.webmentions-container .p-name {
  font-family: var(--heading-font);
}

.webmentions-container div + div {
  margin-block-start: var(--space-m);
}

.webmention {
  padding: 0;
  list-style: none;
  margin: 0;
}

.webmention li {
  display: flex;
  align-items: start;
}

.webmention-likes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}

.webmention-reposts .meta > div,
.webmention-replies .meta > div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  gap: var(--space-3xs);
}

.webmention-replies .meta > div {
  margin-bottom: var(--space-xs);
}

.webmention-reposts .webmention-avatar,
.webmention-replies .webmention-avatar {
  margin-block-start: var(--space-3xs);
}

.markdown-container img.webmention-avatar,
.webmention-avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}

.mention > img.webmention-avatar {
  margin: 0 var(--space-2xs);
}

li.webmention.mention {
  display: flex;
  flex-wrap: wrap;
}

.webmention + .webmention {
  margin-block-start: var(--space-l);
}

li.mention + li.mention {
  margin-block-start: var(--space-xl);
}

li.webmention.mention q {
  margin-inline-start: var(--space-l);
}

.webmentions-container {
  padding: var(--space-s) 0;
}

.postlist-date {
  font-size: var(--step--1);
}

.meta-header {
  display: inline;
}

.meta-header a {
  display: inline;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: var(--space-s);
}

@media screen and (max-width: 455px) {
  .bookshelf {
    justify-content: center;
  }
}

.bookshelf li {
  list-style: none;
  display: flex;
}

.bookshelf li a {
  text-decoration: none;
}

.bookshelf li a p:first-child {
  text-decoration: underline;
  font-weight: 600;
}

.bookshelf li a :not(p:first-child) {
  font-weight: 300;
}

.game-container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-auto-rows: auto;
  column-gap: var(--space-m);
  row-gap: var(--space-xs);
  height: 100%;
  padding-bottom: var(--space-m);
}

.game-container .game-title {
  font-family: var(--heading-font);
  font-size: var(--step-1);
}

.game-container picture img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.book-container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-auto-rows: auto;
  column-gap: var(--space-m);
  row-gap: var(--space-xs);
  height: 100%;
  padding-bottom: var(--space-m);
}

.book-container .book-title {
  font-family: var(--heading-font);
  font-size: var(--step-1);
}

.book-container.preview {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  column-gap: 0;
  row-gap: 0;
  height: 100%;
  padding-bottom: 0;
  border-bottom: 0;
}

.bookshelf .book-container {
  border-bottom: none;
  padding-bottom: 0;
  column-gap: var(--space-xs);
}

.book-container-meta {
  grid-column: 2;
  display: block;
}

.book-container-meta > h1 {
  margin-block-start: var(--space-3xs);
}

.book-container picture {
  grid-column: 1;
  grid-row: 1 / span 2;
}

@media screen and (max-width: 575px) {
  .book-container-meta {
    grid-column: 1 / span 2;
  }

  .book-container picture,
  .game-container picture {
    grid-column: 1 / span 2;
    margin: auto;
  }
}

.book-container summary {
  display: inline list-item;
}

.book-container details {
  margin-block-start: var(--space-m);
  display: inline;
}

.book-container details:not([open='']) ::after {
  display: inline;
  content: '...';
}

.book-container p,
.game-container p {
  margin: 0;
  line-height: 1.5;
}

.book-container.preview picture {
  grid-column: 1;
  grid-row: 1;
}

.book-container picture img {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

.book-container.preview picture img {
  width: 100%;
  max-width: 10rem;
  height: 100%;
}

.more-reading {
  margin-block-start: var(--space-2xl);
  display: flex;
  justify-content: space-between;
  gap: var(--space-l);
  padding-inline-start: 0;
  padding-right: 0;
  width: 100%;
}

.more-reading p {
  margin: var(--space-3xs) 0;
}

.more-reading a {
  margin: 0 calc(var(--space-3xs) * -1);
}

.next,
.previous {
  flex: 0 1 45%;
  width: 100%;
}

.next a,
.previous a {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.markdown-container {
  margin-block-end: var(--space-l);
}

figure {
  margin: var(--space-l) 0;
}

figure > figcaption {
  font-style: italic;
  text-align: center;
}

.markdown-container img {
  max-width: 50rem;
  height: 100%;
  width: 100%;
  margin: var(--space-xs) auto;
  display: block;
}

.markdown-container img.portrait {
  max-width: 25rem;
  height: 100%;
  width: 100%;
}

.markdown-container :is(p, li) a {
  display: inline;
}

.markdown-container blockquote,
.callout {
  background: var(--text-color);
  color: var(--background);
  border-inline-start: 0.625rem solid var(--external-link);
  padding: var(--space-xs);
}

.markdown-container p > code,
.markdown-container li code {
  background: none;
  color: var(--external-link);
}

.markdown-container blockquote > p > code {
  background: var(--background);
  color: var(--external-link);
}

.large-photo {
  height: 100%;
  width: 100%;
  max-width: 120ch;
  display: block;
  margin: 0 auto var(--space-m) auto;
}

.social-card {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: var(--space-xs);
  padding: var(--space-s);
  border-radius: var(--space-3xs);
  border: 0.0125rem solid var(--text-color);
}

.social-card p {
  margin-block-start: 0;
}

.social-card .meta {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  justify-content: flex-end;
  margin-block-start: var(--space-m-l);
  flex-wrap: wrap;
}

.social-image {
  margin-block-start: var(--space-3xs);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.social-post-image {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}

.social-post-multi-image {
  display: flex;
  gap: var(--space-xs);
}

.notes-back {
  margin: var(--space-xl) 0 var(--space-s);
  display: block;
  width: 15ch;
}

.now-page {
  --flow-space: 6em;
}

li.tag a {
  text-decoration: none;
}
