a:not(.icon-container):focus {
  outline: 0.125rem dashed var(--text-color);
}

.skip-link:focus {
  top: 0;
}

.hover-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.hover-link:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.hover-link[aria-current='page']::before {
  content: '';
  position: absolute;
  width: calc(100% - 1rem);
  height: 0.125rem;
  bottom: 0.125rem;
  left: 0.5rem;
  visibility: visible;
  transform: scaleX(1);
  background: var(--text-color);
}

.social-icon:hover {
  fill: var(--external-link);
}

a:focus > .social-icon {
  fill: var(--external-link);
}

[data-user-color-scheme='dark'] .photo-item {
  filter: brightness(0.75);
}

.horizontal-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.vertical-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.vertical-list .tag {
  margin: 0.25rem 0;
}

.vertical-list .hover-link {
  margin: 0 0.5rem;
}

.horizontal-list .hover-link {
  margin: 0 0.25rem;
}

li.tag {
  display: flex;
  align-items: center;
  fill: var(--external-link);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.list li {
  margin-bottom: 0.75rem;
  margin-bottom: min(calc(0.75rem + 1vw), 1.25rem);
}

.toggle:focus {
  outline: 3px dashed var(--text-color);
}

.toggle-icon:hover,
.toggle-icon:focus {
  fill: var(--external-link);
}

.site-logo {
  width: var(--step-2);
  height: var(--step-2);
  fill: var(--text-color);
  margin-right: 0.5rem;
}

.logo:is(:focus, :hover) .site-logo {
  fill: var(--external-link);
}

.full-width {
  max-width: 100%;
  margin: 0;
}

.rss-container {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.rss-container .icon {
  display: flex;
}

.content-list h4 {
  margin: 0 -0.25rem 0.5rem 0;
}

.webmentions-container h2 {
  font-size: var(--step-2);
  color: var(--external-link);
}

.webmentions-container h3 {
  font-size: var(--step-1);
}

.webmentions-container h4 {
  font-size: var(--step--1);
  display: inline;
}

.webmentions-container div + div {
  margin-top: 2rem;
}

.webmention-likes {
  display: flex;
  flex-wrap: wrap;
}

.webmention-replies .meta,
.webmention-reposts .meta {
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
}

.webmention-reposts .meta > div,
.webmention-replies .meta > div {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.webmention-replies .meta > div {
  margin-bottom: 1rem;
}

.webmention-reposts .webmention-avatar,
.webmention-replies .webmention-avatar {
  margin-top: 0.5rem;
}

.webmention-replies blockquote {
  margin-left: 3.25rem;
  font-style: italic;
  margin-top: 0;
}

.webmention-replies blockquote::before {
  content: open-quote;
}

.webmention-replies blockquote::after {
  content: close-quote;
}

.markdown-container img.webmention-avatar,
.webmention-avatar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

article.h-entry,
article.photo-entry,
article.book-entry {
  max-width: 90ch;
  margin: auto;
  padding: 1.5rem 1rem;
}

.webmentions-container {
  padding: 1.5rem 0;
}

.postlist-date {
  font-size: var(--step--2);
}

.meta-header {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 0.5rem;
}

.bookshelf li {
  list-style: none;
  display: flex;
}

.bookshelf li a {
  text-decoration: none;
}

.bookshelf li a p:first-child {
  text-decoration: underline;
  font-weight: 600;
}

.bookshelf li a :not(p:first-child) {
  font-weight: 300;
}

.book-container {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-auto-rows: auto;
  column-gap: 2rem;
  row-gap: 1rem;
  height: 100%;
  padding-bottom: 2rem;
  border-bottom: 0.0125rem solid var(--text-color);
}

.book-container.preview {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  column-gap: 0;
  row-gap: 0;
  height: 100%;
  padding-bottom: 0;
  border-bottom: 0;
}

.bookshelf .book-container {
  border-bottom: none;
  padding-bottom: 0;
  column-gap: 1rem;
}

.book-container * {
  grid-column: 2;
}

@media screen and (max-width: 575px) {
  .book-container details {
    grid-column: 1 / span 2;
  }

  .book-container picture {
    grid-row: 1;
  }
}

.book-container h2 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.book-container summary {
  display: inline list-item;
}

.book-container details {
  display: inline;
}

.book-container details:not([open='']) ::after {
  display: inline;
  content: '...';
}

.book-container p {
  margin: 0;
  line-height: 1.5;
}

.book-container picture {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.book-container.preview picture {
  grid-column: 1;
  grid-row: 1;
}

.book-container picture img {
  width: 100%;
  max-width: 8rem;
  height: auto;
}

.book-container.preview picture img {
  width: 100%;
  max-width: 8rem;
  height: 100%;
}

.more-reading {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.more-reading p {
  margin: 0.25rem 0;
}

.more-reading a {
  margin: 0 -0.25rem;
}

.next,
.previous {
  flex: 0 1 45%;
}

.markdown-container {
  margin-bottom: 3rem;
}

figure {
  margin: 3rem 0;
}

figure > figcaption {
  font-style: italic;
  text-align: center;
}

.markdown-container img {
  max-width: 50rem;
  height: 100%;
  width: 100%;
  margin: 1rem auto;
  display: block;
}

.markdown-container img.portrait {
  max-width: 25rem;
  height: 100%;
  width: 100%;
}

.markdown-container li {
  margin: 1rem 0;
}

.markdown-container :is(p, li) a {
  display: inline;
}

.markdown-container blockquote,
.callout {
  background: var(--text-color);
  color: var(--background);
  border-left: 0.625rem solid var(--external-link);
  margin: 1.5rem 0;
  padding: 1rem 1.25rem 1rem 0.625rem;
}

.markdown-container p > code,
.markdown-container li code {
  background: none;
  color: var(--external-link);
}

.markdown-container blockquote > p > code {
  background: var(--background);
  color: var(--external-link);
}

blockquote > p {
  margin-top: 0;
}

.large-photo {
  height: 100%;
  width: 100%;
  max-width: 120ch;
  display: block;
  margin: 0 auto 2rem auto;
}

.listening {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listening + .metadata {
  font-size: 1rem;
  font-style: italic;
}

.listening .track-info p {
  margin: 0;
  font-size: 1rem;
}

.listening .track-info a:first-child {
  font-weight: 800;
  font-size: 1.25rem;
  margin-left: -0.25rem;
}
