<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="prefetch" as="font" type="font/woff2" crossorigin href="/assets/fonts/Comfortaa.woff2">
    <link rel="prefetch" as="font" type="font/woff" crossorigin href="/assets/fonts/Comfortaa.woff">
    <link rel="prefetch" as="font" type="font/woff2" crossorigin href="/assets/fonts/Montserrat.woff2">
    <link rel="prefetch" as="font" type="font/woff" crossorigin href="/assets/fonts/Montserrat.woff">
    <link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon">
    <title>{{renderData.title or title or metadata.title}}</title>
    <meta name="Description" content="{{renderData.description or description or metadata.description}}"/>
    <style>
      {% include "css/styles.css" %}
    </style>
  </head>
  <body>
    <a class="[ skip-link ]" href="#mainContent">Skip to content</a>
    <header class="[ marquee-section ]">
      <h1>
        <a href="{{ '/' | url }}" class="[ hover-link ]{% if entry.url == '/' %} [ active ]{% endif %}">{{ metadata.title }}</a>
      </h1>
      {% include '_navigation.njk' %}
    </header>

    <main id="mainContent" class="[ content-body ]">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <footer class="[ marquee-section ]">
      {% include '_footer-navigation.njk' %}
      {% include '_social-links.njk' %}
      <script type="text/javascript" src="/assets/scripts/main.js" defer></script>
    </footer>
  </body>
</html>