<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="alternate icon" href="/assets/icons/favicon.png">
    <title>{{renderData.title or title or metadata.title}}</title>
    <meta name="Description" content="{{renderData.description or description or metadata.description}}"/>
    <meta property="og:site_name" content="declanbyrd.co.uk">
    <meta name="og:description" content="{{renderData.description or description or metadata.description}}">
    <meta property="og:title" content="{{renderData.title or title or metadata.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{metadata.url}}{{page.url}}">
    <meta property="og:image" content="https://www.declanbyrd.co.uk/img/meta.jpg">
    <meta property="og:image:alt" content="Photo of Declan Byrd">
    <meta name="twitter:creator" content="@declan_byrd">
    <meta name="twitter:description" content="{{renderData.description or description or metadata.description}}">
    <meta name="twitter:image" content="https://www.declanbyrd.co.uk/img/meta.jpg">
    <meta name="twitter:image:alt" content="Photo of Declan Byrd">
    <link rel="webmention" href="https://webmention.io/declanbyrd.co.uk/webmention"/>
    <link rel="pingback" href="https://webmention.io/declanbyrd.co.uk/xmlrpc"/>
    {% set css %}
    {% include "css/styles.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <script>
      const theme = localStorage.getItem("user-color-scheme");
      if (theme) {
        document
          .documentElement
          .setAttribute('data-user-color-scheme', theme);
      }
    </script>
  </head>
  <body>
    <a class="[ skip-link ]" href="#mainContent">Skip to content</a>
    <header>
      {% if '/' !== page.url %}
        {% include '_site-logo.njk' %}
      {% endif %}
      {% include '_navigation.njk' %}
    </header>

    <main tabindex="-1" id="mainContent">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <footer>
      {% include '_footer-navigation.njk' %}
      {% include '_social-links.njk' %}
      <script type="text/javascript" src="/assets/scripts/main.js" defer></script>
    </footer>
  </body>
</html>