---
renderData:
  title: "{{ book.title }}"
  description: "Declan's notes for {{ book.title }} by {{book.authors}}"
---

{% extends 'layouts/base.njk' %}

{% block content %}

  <article class="[ markdown-container book-entry ]">
    <div class="book-container">
      {% bookCover book %}
      <div class="book-container-meta">
        <h1>{{book.title}}</h1>
        <p>by {{book.authors}}</p>
        <p>{{book.pageCount}} pages</p>
        <details>
          <summary>{{book.summary}}</summary>{{book.description}}</details>
      </div>
    </div>
    {{ content | safe }}

    {% set previousPost = collections.books | reverse | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.books | reverse | getNextCollectionItem(page) %}
    <nav aria-label="Book Navigation">
      <ul class="[ horizontal-links more-reading ]">
        {% if previousPost %}
          <li class="previous">
            <p>Previous Entry:</p>
            <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
          </li>
        {% endif %}
        {% if nextPost %}
          <li class="next">
            <p>Next Entry:</p>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </article>

{% endblock %}

{% block scripts %}{% endblock %}