{% extends 'layouts/base.njk' %}

{% block content %}

  {% set currentBook = collections.books | getCollectionItem(page) %}

  <section>
    <article>
      {{ content | safe }}

      {% set previousPost = collections.books | reverse | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.books | reverse | getNextCollectionItem(page) %}
      <section class="more-reading full-width">
        {% if previousPost %}
          <div class="previous">
            <p>Previous Entry:</p>
            <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
          </div>
        {% endif %}
        {% if nextPost %}
          <div class="next">
            <p>Next Entry:</p>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </div>
        {% endif %}
      </section>
    </article>
  </section>

{% endblock %}