{% extends 'layouts/base.njk' %}

{% block stylesheets %}
  {% set css %}
  {% include "css/home.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}

  <section>
    <div class="intro">
      <svg width="112" height="112" aria-hidden="true" focusable="false" class="[ logo ]">
        <title id="logoTitle">Site logo</title>
        <use href="/assets/icons/icons.svg#logo"></use>
      </svg>
      <h1>
        <span>Welcome to the personal site of </span>
        <span class="accent">Declan Byrd</span></h1>
    </div>
    <article>
      {{content | safe}}
    </article>
  </section>

  <section>
    <h2>
      Recent entries to the <a href="/journal" class="accent">Journal</a>
    </h2>

    {% set postslist = collections
      .allPosts
      .reverse() | previewCollection(4) %}
    {% include "partials/postsList.njk" %}
  </section>

  <section>
    <h2>
      Recent
      <a href="/photos/" class="accent">photos</a>
    </h2>

    {% set photoslist = collections
      .photos
      .reverse() | previewCollection(4) %}
    {% include "partials/photoPreview.njk" %}
  </section>

  <section id="nowPlayingContainer"></section>

  <template id="nowPlaying">
    <h2>Now Playing</h2>
    <div class="listening">
      <svg width="75" height="75" role="img" aria-labelledby="spotifyTitle" focusable="false">
        <title id="spotifyTitle">Spotify</title>
        <use href="/assets/icons/icons.svg#spotify"></use>
      </svg>
      <div class="track-info">
        <a id="trackName"></a>
        <p id="artists"></p>
      </div>
    </div>
    <p class="metadata">Last listened: <span id="timestamp"></span></p>
  </template>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/assets/scripts/spotify.js" defer></script>
{% endblock %}