{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="max-width-90 h-entry">
    <h1>{{title}}</h1>
    <time class="dt-published hidden-metadata" datetime="{{ page.date | metadataDate }}">{{page.date | metadataDate}}</time>
    <a class="hidden-metadata p-author h-card" href="https://declanbyrd.co.uk">Declan Byrd</a>
    <div class='e-content flow'>
      {{content | safe}}
    </div>
    {% if syndicatedTo %}
      <section>
        <p>Also on
          {% for syndicationTarget in syndicatedTo %}
            <a href="{{syndicationTarget.url}}">
              {{syndicationTarget.site}}
            </a>
          {% endfor %}
        </p>
      </section>
    {% endif %}
    <section>
      <a class="notes-back" href="/journal/notes/">&larr; Back to notes</a>
    </section>
  </article>

  <section>
    {% set webmentionUrl %}{{ page.url | url | absoluteUrl(site.url) }}{% endset %}
    {% include 'partials/webmentions.njk' %}
  </section>

{% endblock %}

{% block scripts %}{% endblock %}