{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/markdown.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
  <section>
    <article class="[ markdown-container max-width-80 ]">
      <h2>{{ title }}</h2>
      <time class="[ date ]" datetime="{{ page.date | htmlDateTime }}">{{page.date | readableDates}}</time>
      <hr>

      {{ content | safe }}
    </article>

    {% set previousPost = collections.weeknotes | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.weeknotes | getNextCollectionItem(page) %}
    <nav aria-label="Post Navigation">
      <ul class="[ horizontal-links more-reading ]">
        {% if previousPost %}
          <li class="previous">
            <p>Previous Entry:</p>
            <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
          </li>
        {% endif %}
        {% if nextPost %}
          <li class="next">
            <p>Next Entry:</p>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>
{% endblock %}

{% block scripts %}{% endblock %}