{% extends 'layouts/base.njk' %}

{% block content %}

  <article>
    <div class="[ flex-row ]">
      <h1 class="[ page-title ]">
      Photos
    </h1>
      <time class="[ date ]" datetime="{{ page.date | htmlDateTime }}">{{page.date | dateDisplay}}</time>
    </div>
    {{ content | safe }}
    <button class='[ return-button ]'>
      <a href="/photos">&larr; Return to the photos page</a>
    </button>
    {% for item in photo %}
      <img class="[ large-photo ]" src="{{item.url}}" alt="{{item.alt}}">
    {% endfor %}
    <button class='[ return-button ]'>
      <a href=" /photos">&larr; Return to the photos page</a>
    </button>
  </article>

{% endblock %}