{% extends 'layouts/page.njk' %}

{% block content %}

  <article class="blog-post">
  <span class="data">
    {{ blogTopic }}
    <time class="date" datetime="{{ page.date | htmlDateTime }}">{{page.date | dateDisplay}}</time>
  </span>
  <h2 class="title">{{ title }}</h2>
  <aside class="post-tags">
    {% for tag in tags %} 
      {%- if collections.tagList.indexOf(tag) != -1 -%} 
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <span class="flex-icon">
          <img alt="Icon showing a label" src="/img/label.svg" />
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        </span>
      {%- endif -%} 
    {% endfor %}
  </aside>
  
    {{ content | safe }}
  </article>

{% endblock %}
