{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/markdown.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
  <article>

    <section>
      <h1>{{title}}</h1>
      <p>
      Last updated: 
      <time class="[ date ]" datetime="{{ page.date | htmlDateTime }}">
          {{page.date | readableDates}}
        </time>
      </p>
    </section>

    <div class="flow">
      {{content | safe}}
    </div>
  </article>
{% endblock %}

{% block scripts %}{% endblock %}