// Colours
$primary: #000504;
$primary-light: #2c2f2e;
$primary-dark: #000000;
$secondary: #00a380;
$secondary-light: #54d5af;
$secondary-dark: #007354;

// Text Colours
$primary-text: #ffffff;
$secondary-text: #000000;

// Spacing
$page-gutter: 15vw;
$page-gutter-small: 5vw;

//Breakpoints
$breakpoint-x-small: 400px;
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1280px;
$breakpoint-x-large: 1920px;

// Typography
@font-face {
  font-family: 'Didact Gothic';
  src: url('/assets/fonts/didactgothic-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/didactgothic-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/assets/fonts/ptsans-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/ptsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
