// Colours
$primary: #000504;
$primary-light: #2c2f2e;
$primary-dark: #000000;
$secondary: #00a380;
$secondary-light: #54d5af;
$secondary-dark: #007354;

// Text Colours
$primary-text: #ffffff;
$secondary-text: #000000;

// Spacing
$page-gutter: 7.5vw;

// Typography
@font-face {
  font-family: 'Didact Gothic';
  src: local('Didact Gothic'),
    url('/assets/fonts/didactgothic-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/didactgothic-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('/assets/fonts/ptsans-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/ptsans-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
