/*  Breakpoints

    small: 600px;
    medium: 960px;
    large: 1280px;
    x-large: 1920px;
      
*/

@font-face {
  font-family: PtSans;
  src: url('PTSans-Regular.ttf') format(truetype);
}

:root {
  /* Colours and Typography */
  --header-color: #000000;
  --surface: #202020;
  --surface-text: #ffffff;
  --title-font: 'PtSans', Fallback, sans-serif;

  /* Spacing */
  --page-gutter: 5vw;
}

@media screen and (min-width: 600px) {
  :root {
    --page-gutter: 15vw;
  }
}

html {
  display: grid;
  grid-template-columns: var(--page-gutter) 1fr var(--page-gutter);
}

body {
  background-color: var(--surface);
  color: var(--surface-text);
  font-family: var(--title-font);
  margin: 0;
  grid-area: 3 / 2 / 4 / 3;
}

nav {
  grid-area: 1 / 2 / 2 / 3;
}

nav ul {
  display: flex;
  padding: 0;
}

header a {
  color: var(--surface-text);
  text-decoration: none;
}

header a:hover {
  color: var(--surface-text);
  text-decoration: underline;
}

.nav-item {
  list-style: none;
  margin: 0 1.5rem 0 0;
}

.nav-item a {
  font-weight: 100;
}

header .title {
  grid-area: 2 / 2 / 3 / 3;
  color: var(--surface-text);
  font-size: 48px;
}
