<article class="webmention mention" id="webmention-{{ webmention['wm-id'] }}">
  <div class="meta">
    <div>
      <div class="meta-header">
        {% if webmention.author %}
          <a class="h-card u-url" {% if webmention.url %}href="{{ webmention.url }}" {% endif %} target="_blank" rel="noopener noreferrer">
            <h4 class="p-name">{{ webmention.author.name }}</h4>
          </a>
        {% else %}
          <h4>
        Anonymous
      </h4>
        {% endif %}
        {% if webmention.author.url %}
          <span>shared via <a href="{{webmention.author.url}}">{{webmention.author.url | getWebmentionSource}}</a>
          </span>
        {% endif %}
      </div>
      {% if webmention.published %}
        <time class="postlist-date" datetime="{{ webmention.published }}">
          {{ webmention.published | readableDateFromISO }}
        </time>
      {% endif %}
    </div>
    {% if webmention.author.photo %}
      <img src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" class="webmention-avatar" width="48" height="48" loading="lazy">
    {% else %}
      <img src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48">
    {% endif %}
  </div>
</article>