---
title: "Articles"
description: Articles that have been included in the Journal.
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <div class="rss-container">
      <h1 >Journal: <span class="accent">{{ title }}</span></h1>
      <a href="/journal/articles.xml" rel="me" class="[ icon ]">
        <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
          <title id="rssTitle">RSS</title>
          <use href="/assets/icons/icons.svg#rss"></use>
        </svg>
        <span class='[ visually-hidden ]'>View the RSS feed for article posts in the Journal</span>
      </a>
    </div>
    <p>Long form writings that have been included in the journal.</p>
    {% include "partials/journalNavigation.njk" %}
    {% set postslist = collections.articles | reverse %}
    {% set postslistCounter = collections.articles | length %}
    {% include "partials/postsList.njk" %}
  </section>
{% endblock %}