---
title: Journal
description: A collection of writings in the form of articles, notes and summaries.
eleventyNavigation:
  key: Journal
  order: 2
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <div class="rss-container">
      <h1 >The <span class="accent">{{ title }}</span></h1>
      <a href="/journal/feed.xml" rel="me" class="[ icon ]">
        <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
          <title id="rssTitle">RSS</title>
          <use href="/assets/icons/icons.svg#rss"></use>
        </svg>
        <span class='[ visually-hidden ]'>View the RSS feed for the Journal</span>
      </a>
    </div>
    <p>All entries to the Journal.</p>
    {% include "partials/journalNavigation.njk" %}

    {% set postslist = collections.allPosts %}
    {% set postslistCounter = collections.allPosts | length %}
    {% include "partials/allPosts.njk" %}
  </section>
{% endblock %}