---
title: "Notes"
description: Short form writings sourced from my social media pages.
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <div class="rss-container">
      <h1>Journal: <span class="accent">{{ title }}</span></h1>
    </div>
    <p>Short form writings sourced from my social media pages.</p>
    {% include "partials/journalNavigation.njk" %}
    {% include "partials/socialFeed.njk" %}
  </section>
{% endblock %}