---
title: Page Not Found
permalink: '404.html'
---

{% extends 'layouts/base.njk' %}

{% block stylesheets %}{% endblock %}

{% block content %}
    <section class="[ max-width-80 ]">
        <h2 class="accent">Page not found</h2>
        <p>It looks like this page doesn't exist.</p>
        <p>Maybe try looking in the <a href="/journal">Journal</a>, <a href="/week-notes">Week notes</a> or in the <a href="/photos">Photos</a>.</p>
    </section>
{% endblock %}