---
layout: 'layouts/base'
title: Page Not Found
permalink: '404.html'
---

<section>
    <h2>Page not found</h2>
    <p>It looks like this page doesn't exist.</p>
    <p>Maybe try looking <a href="/journal">in the Journal</a> or the <a href="/photos">Photo Gallery</a>.</p>
</section>