---
title: About Me
eleventyNavigation:
  key: About
  order: 1
---

{% extends 'layouts/page.njk' %} 

{% block content %}

    <h2>{{ title }}</h2>
    <img
      class="squared-photo"
      src="/img/profile-image.jpg"
      alt="Picture of Declan"
    />
    <p>
      Hi, I'm Declan. I'm a final year BSc Software Engineering student at the
      University of Portsmouth in the UK. When I'm not working towards my
      degree, I enjoy spending time with my dog, understanding how things on the
      web work and watching Brighton and Hove Albion Football Club.
    </p>

  <p>
    Most of my projects are written in HTML5, CSS and JavaScript or ES6 if you're
    after specifics but I've also done some work with Python, Java and Lua while
    at university. I think the best thing about developing for the web is that the
    capabilities of what browsers can do is constantly changing. Whether that's
    implementing augmented reality, powering feature phones or making it possible
    for all major browsers to have the same features to make it easier for
    developers.
  </p>

{% endblock %}
