---
title: About Me
description: Everything you need to know about me!
eleventyNavigation:
  key: About
  order: 2
---

{% extends 'layouts/page.njk' %}

{% block content %}
        
  <h1>{{title}}</h1>

  {{description}}

{% endblock %}