---
title: My Blog
description: A collection of things I've done. Might include projects, code snippets and procrastination.
pagination:
  data: collections.posts
  size: 10
  alias: posts
eleventyNavigation:
  key: Blog
  order: 1
---

{% extends 'layouts/page.njk' %} 

{% block content %}
  <h2 class="page-title">{{ title }}</h2>
  <p>{{ description }}</p>
  {% set postslist = posts %} 
  {% set postslistCounter = collections.posts | length %} 
  {% include "postsList.njk" %}
{% endblock %}
