---
layout: 'layouts/base'
title: Colophon
permalink: 'colophon.html'
---

<h2 class="[ page-title ]">Colophon</h2>

<blockquote class="[ callout ]">
  An inscription at the end of a book or manuscript usually with facts about its production.
</blockquote>