---
title: Colophon
permalink: 'colophon.html'
description: The tools used to make Declan Byrd's website
date: Last Modified
---

{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/markdown.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
  <section class="[ max-width-80 ]">

    <h2>Colophon</h2>
    <p>Last updated: <time class="[ date ]" datetime="{{ page.date | htmlDateTime }}">{{page.date | readableDates}}</time></p>
    <blockquote class="[ callout ]">An inscription at the end of a book or manuscript usually with facts about its production.</blockquote>
    <h3>This site was built using:</h3>

    <ul class="[ list ]">
      <li>
        <a href="https://www.11ty.dev/">Eleventy (11ty)</a> to generate static HTML files from <a
          href="https://mozilla.github.io/nunjucks/">Nunjucks</a> templates and <a
          href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> files.</li>
      <li>Enough JavaScript to create functioning light/dark theme controls and to get my last played track from Spotify.</li>
      <li>
        <a href="https://www.netlify.com/">Netlify</a> which hosts this website.</li>
      <li>
        The <a href="https://monokai.pro/vscode">Monokai Pro Solarized theme</a> for <a
          href="https://code.visualstudio.com/">Visual Studio Code</a> which provided nice colourful code even when the code
        didn't work.
      </li>
      <li>
        The social icons in the footer are from the <a href="https://github.com/edent/SuperTinyIcons">super tiny icons pack</a>. The icon used for tags and the icon used for photo pages that contain multiple photos are both from <a href="https://icons8.com/icons">Icons8</a>.
      </li>
      <li>
        Website logo generated by <a href="https://pfpmaker.com/">Profile Pic Maker</a>.
      </li>
      <li>
        The <a href="https://fonts.google.com/specimen/Bungee?query=bungee">Bungee</a> font downloaded from Google Fonts.
      </li>
      <li>
        <a href="https://www.figma.com/">Figma</a> to design and prototype features for this site.
      </li>
    </ul>
  </section>
{% endblock %}