---
layout: 'layouts/base'
title: Colophon
permalink: 'colophon.html'
description: The tools used to make Declan Byrd's website
---

<section class="[ max-width-80 ]">
  <dl>
    <dt>
      <h2 >Colophon</h2>
    </dt>
    <dd class="[ callout ]">An inscription at the end of a book or manuscript usually with facts about its production.
    </dd>
  </dl>

  <h3>This site was built using:</h3>

  <ul class="[ list ]">
    <li>
      <a href="https://www.11ty.dev/">Eleventy (11ty)</a> to generate static HTML files from <a
        href="https://mozilla.github.io/nunjucks/">Nunjucks</a> templates and <a
        href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> files.</li>
    <li>Enough JavaScript to create functioning light/dark theme controls and to change the font to Open Dyslexic.</li>
    <li>
      <a href="https://www.netlify.com/">Netlify</a> which hosts this website and provides image transformations for my
      photos.</li>
    <li>
      The <a href="https://monokai.pro/vscode">Monokai Pro Solarized theme</a> for <a
        href="https://code.visualstudio.com/">Visual Studio Code</a> which provided nice colourful code even when the code
      didn't work.
    </li>
  </ul>
</section>