{% extends 'layouts/page.njk' %}
{% block content %}

<h1 class="intro small">Hello, I'm Declan.</h1>
<p class="intro headline">I'm a Software Engineering graduate based near Brighton, England.</p>

<p>
  I like to make things for the web and apply particular focus on how things are made. I'm also a firm believer that semantic HTML and CSS should form the foundation of any website and that JavaScript first solutions are not always the answer.
</p>

<p>
  This is my personal site where you can find my <a href="/journal">Journal</a> which is where I log what I've been up to and the <a href="/photos">Photo Gallery</a> for a more visual representation of what I've been up to.
</p>

<section class="journal-preview">
  <h2 class="heading">Latest Journal Entries:</h2>

  <div class="post-preview-grid">
    {% set postslist =collections.posts | previewCollection(-7) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postsList.njk" %}
  </div>
</section>

{% endblock %}