---
title: Journal
pagination:
  data: collections.posts
  size: 10
  alias: posts
eleventyNavigation:
  key: Journal
  order: 2
---

{% extends 'layouts/base.njk' %}

{% block content %}
<section>
  <h2 >{{ title }}</h2>
    {% set postslist = posts %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postsList.njk" %}
</section>
{% endblock %}