---
title: Journal
description: Declan Byrd's journal - a collection of things he's written about.
eleventyNavigation:
  key: Journal
  order: 2
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <div class="rss-container">
      <h2 >The <span class="accent">{{ title }}</span></h2>
      <a href="/feed.xml" rel="me" class="[ icon ]">
        <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
          <title id="rssTitle">RSS</title>
          <use href="/assets/icons/icons.svg#rss"></use>
        </svg>
        <span class='[ visually-hidden ]'>View the RSS feed for the Journal</span>
      </a>
    </div>
    {% set postslist = collections.posts %}
    {% set postslistCounter = collections.posts | length %}
    {% include "partials/postsList.njk" %}
  </section>
{% endblock %}