---
pagination:
  data: collections.allSocial
  size: 1
  alias: post
permalink: /journal/notes/{{ post.date | noteTimestamp }}/
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="max-width-90">

    <h1>{{post.date | noteTitle}}</h1>
    <div class="social-card note">
      {% image "/img/meta_square.jpg", "Declan - a white male with short brown hair, wearing a white t-shirt that has black sleeves.", "social-image"  %}
      <div>
        {% include "partials/socialPost.njk" %}
        <a class="notes-back" href="/journal/notes/">&larr; Back to notes</a>
      </div>
    </div>
  </article>
{% endblock %}