---
title: Photos
description: A selection of photos that I've taken.
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    description: "{{ description }}"
---

{% extends 'layouts/base.njk' %}

{% block content %}
<section>
  <h1>My <span class="accent">{{title}}</span></h1>
  <ul class="[ autofit-grid ] [ photos ]">
    {% for item in collections.photos | reverse %}
    <li>
      <a href="{{item.url}}">
        {% image item.data.photo[0].url, item.data.photo[0].alt, "[ photo-item ]"  %}
        {% if item.data.photo.length > 1 %}
        <svg width="30" height="30" role="img" aria-labelledby="{{item.url}}Title" focusable="false"
          class="[ gallery-icon ]">
          <title id="{{item.url}}Title">Gallery</title>
          <use href="/assets/icons/icons.svg#gallery"></use>
        </svg>
        {% endif %}
        <span class="[ visually-hidden ]">View the photos from {{item.data.date | readableDates}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}