---
title: Photos
description: Photos I've taken!
eleventyNavigation:
key: Photos
order: 3
---

{% extends 'layouts/base.njk' %}

{% block content %}
<h2 class="page-title">{{ title }}</h2>
<ul class="[ autofit-grid ] [ photos ]">
  {% for item in collections.photos %}
  <li>
    <a href="{{item.url}}">

      <picture class="[ photo-container ]">
        <source media="(max-width: 480px)" srcset="{{ item.data.photo[0].url }}?nf_resize=fit&amp;w=500">
        <source media="(max-width: 750px)" srcset="{{ item.data.photo[0].url }}?nf_resize=fit&amp;h=300">
        <source media="(min-width: 751px)" srcset="{{ item.data.photo[0].url }}?nf_resize=fit&amp;h=500">
        <img loading="lazy" src="{{ item.data.photo[0].url }}?nf_resize=fit&amp;h=500"
          alt="{{ item.data.photo[0].alt }}" class="[ photo-item ]" />
      </picture>
      {% if item.data.photo.length > 1 %}
      <svg width="30" height="30" role="img" aria-labelledby="{{item.url}}Title" focusable="false"
        class="[ gallery-icon ]">
        <title id="{{item.url}}Title">Gallery</title>
        <use href="/assets/icons/icons.svg#gallery"></use>
      </svg>
      {% endif %}
      <span class="[ visual-hidden ]">View the photo of {{item.data.photo[0].alt}}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}