---
title: Reading
description: "Books that I've been reading, ordered by the date I read them."
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    description: "{{ description }}"
---

{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/books.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
  <section>
    <h1>{{ title }}</h1>
    {% for year, booksInYear in collections.books %}
      <h2>{{year}}</h2>
      <ul class="[ bookshelf ]">
        {% for book in booksInYear %}
          <li>
            {% book book.data.isbn,
            true %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% endblock %}