---
title: Reading
description: "Books that I've been reading, ordered by the date I read them."
eleventyComputed:
  eleventyNavigation:
    key: "{{ title }}"
    description: "{{ description }}"
---

{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/books.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
  <section>
    <h1>{{ title }}</h1>
    <div>
      <h2>Currently reading</h2>
      {% nowReading now.reading %}
    </div>
    {% for year, booksInYear in collections.books %}
      <h2>{{year}}</h2>
      <ul class="[ bookshelf ]">
        {% for book in booksInYear %}
          <li>
            <a href="/reading/{{book.data.isbn}}/" class="book-container preview">
              {% if book.data.book.thumbnail %}
                {% cloudImage book.data.book.thumbnail,
                "Book cover for {{book.data.title}}" %}
              {% endif %}
              <span class="[ visually-hidden ]">
              Read Declan's notes for {{book.data.book.title}} by {{book.data.book.authors}}
              </span>
            </a>
          {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% endblock %}