---
title: Reading
description: Books that Declan Byrd has read and the notes he's written about each book.
eleventyNavigation:
  key: Reading
  order: 3
---

{% extends 'layouts/base.njk' %}

{% block stylesheets %}

  {% set css %}
  {% include "css/books.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
{% endblock %}

{% block content %}
<section class="full-width">
  <h1>What I've been <span class="accent">{{ title }}</span></h1>
    {% for year, booksInYear in collections.books %}
    <h3>{{year}}</h3>
    <ul class="[ bookshelf ]">
      {% for book in booksInYear %}
        <li>
            {% book book.data.isbn, true %}
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
</section>
{% endblock %}