---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
---

{% extends 'layouts/page.njk' %} 
{% set postslist = collections[ tag ] %} 

{% block content %} 
<h2>Posts tagged with: “{{ tag }}”</h2>
  <p>There are {{ postslist.length }} posts about {{ tag }}.</p>
  <p>
    See <a href="{{ '/tags/' | url }}">more tags</a> that I have written about.
  </p>
  {%include "postsList.njk" %} 
{% endblock %}
