---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
---

{% extends 'layouts/page.njk' %} {% set postslist = collections[ tag ] %} {%
block header %}
<h1>Posts tagged with: “{{ tag }}”</h1>
<p>There are {{ postslist.length }} posts about {{ tag }}.</p>
<p>
  See <a href="{{ '/tags/' | url }}">more tags</a> that I have written about.
</p>
{% endblock %} {% block content %} {%include "postsList.njk" %} {% endblock %}
