---
permalink: /journal/tags/
title: Tags
description: All of the tags that Declan has written about in his journal.
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <h1 >Tags</h1>
    <p> A complete list of tags that are associated with entries in the <a href="/journal">Journal</a>.
  </p>
    <ul class="[ vertical-list ]">
      {% for tag in collections.tagList %}
        {% set tagUrl %}/journal/tags/{{tag | slug}}/{% endset %}
        <li class="[ tag ]">
          <a href="{{ tagUrl | url }}">
            <span class="accent">#</span>
            <span>{{ tag }}</span>
          </a>
    ( {{collections[tag].length}} )
  </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}