---
permalink: /tags/
---

{% extends 'layouts/page.njk' %} 

{% block content %}
<h1>Tags</h1>
  <ul class="tag-list">
    {% for tag in collections.tagList %} 
      {% set tagUrl %}/tags/{{tag | slug}}/{% endset %}
      <li>
        <a href="{{ tagUrl | url }}" class="tag">
          {{ tag }}
        </a> 
        ({{collections[tag].length}})
      </li>
    {% endfor %}
  </ul>
{% endblock %}
