---
permalink: /tags/
---

{% extends 'layouts/page.njk' %} 

{% block content %}
<h2 class="page-title">Tags</h2>
<p> A complete list of tags that are associated with entries in the <a href="/journal">Journal</a></p>
  <ul class="tag-list">
    {% for tag in collections.tagList %} 
      {% set tagUrl %}/tags/{{tag | slug}}/{% endset %}
      <li class="flex-icon">
        <svg width="20" height="20" role="img" aria-labelledby="{{tag}}labelTitle" focusable="false" class="icon label">
          <title id="{{tag}}labelTitle">Label</title>
          <use href="/assets/icons/icons.svg#label"></use>
        </svg>
        <a href="{{ tagUrl | url }}" class="tag">
          {{ tag }}
        </a> 
        ( {{collections[tag].length}} )
      </li>
    {% endfor %}
  </ul>
{% endblock %}
