---
permalink: '/week-notes/'
title: Week Notes
description: Declan Byrd's journal - a collection of things he's written about.
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <section>
    <div class="rss-container">
      <h2 >
      My <span class="accent">{{ title }}</span></h2>
      <a href="//week-notes/feed.xml" rel="me" class="[ icon ]">
        <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
          <title id="rssTitle">RSS</title>
          <use href="/assets/icons/icons.svg#rss"></use>
        </svg>
        <span class='[ visually-hidden ]'>View the RSS feed for Declan's Weekly Notes</span>
      </a>
    </div>
    {% for year, notesInYear in collections.weeknotesByYear %}
      <h3>{{year}}</h3>
      {% set postslist = notesInYear %}
      {% include "partials/notesList.njk" %}
    {% endfor %}

  </section>
{% endblock %}