---
layout: base
---

{% block content %}

  <article class="[ markdown-container book-entry ]">
    <div class="book-container">
      {% cloudImage thumbnail,
      "" %}
      <div class="book-container-meta">
        <h1>{{title}}</h1>
        <p>by {{authors}}</p>
        <p>{{pageCount}} pages</p>
        <p>Finished on {{page.date | readableDates}}</p>
      </div>
    </div>
    {{ content | safe }}

    {% set previousPost = collections.books | reverse | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.books | reverse | getNextCollectionItem(page) %}
    <nav aria-label="Book Navigation">
      <ul class="[ horizontal-links more-reading ]">
        {% if previousPost %}
          <li class="previous">
            <p>Previous Entry:</p>
            <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
          </li>
        {% endif %}
        {% if nextPost %}
          <li class="next">
            <p>Next Entry:</p>
            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </article>

{% endblock %}