---
layout: base
---

{% block content %}

  <article class="photo-entry">
    <div class="[ flex-row ]">
      <h1>
        {{intro}}
        <time class="[ date ]" datetime="{{ page.date | htmlDateTime }}">{{page.date | readableDates}}</time>
      </h1>
    </div>
    {{ content | safe }}
    {% for item in photo %}
      {% image item.url, item.alt, "[ large-photo ]" %}
    {% endfor %}

    <section>
      {% set previousPost = collections.photos | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.photos | getNextCollectionItem(page) %}
      <nav aria-label="Photo Navigation">
        <ul class="[ horizontal-links more-reading ]">
          {% if previousPost %}
            <li class="previous">
              <p>Previous Entry:</p>
              <a href="{{ previousPost.url }}">{{ previousPost.data.date | readableDates }}</a>
            </li>
          {% endif %}
          {% if nextPost %}
            <li class="next">
              <p>Next Entry:</p>
              <a href="{{ nextPost.url }}">{{ nextPost.data.date | readableDates }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </section>

  </article>
{% endblock %}