---
layout: base
---

{% block content %}
  <article class="max-width-90">
    <h1>{{title}}</h1>
    <p>
      Last updated: 
      <time datetime="{{ page.date | htmlDateTime }}">
        {{page.date | readableDates}}
      </time>
    </p>

    <div class="flow">
      {{content | safe}}
    </div>
  </article>
{% endblock %}