---
layout: base
---

{% block content %}
  <article>

    <section>
      <h1>{{title}}</h1>
      <p>
      Last updated: 
      <time datetime="{{ page.date | htmlDateTime }}">
          {{page.date | readableDates}}
        </time>
      </p>
    </section>

    <div class="flow">
      {{content | safe}}
    </div>
  </article>
{% endblock %}