<ol class="content-list flow">
  {% for post in postslist %}
    {% if post.data.title %}
      {% include "./postPreview.njk" %}
    {% else %}
      <li class="social-card">
        {% image "/img/meta_square.jpg", "Declan - a white male with short brown hair, wearing a white t-shirt that has black sleeves.", "social-image"  %}
        <div>
          {% include "./socialPost.njk" %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ol>