<ol class="content-list flow">
  {% for post in postslist %}
    {% if post.data.title and not post.data.syndicatedTo %}
      {% include "./postPreview.njk" %}
    {% else %}
      <li class="social-card">
        <div class="social-card-body">
          {% if post.site === 'Mastodon' %}
            {% include "partials/socialPost.njk" %}
          {% else %}
            {% include "partials/note.njk" %}
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ol>