<li class="social-card">
  <svg width="30" height="30" role="img" aria-hidden="true" focusable="false" class="[ journal-icon ]">
    <use href="/assets/icons/icons.svg#openBook"></use>
  </svg>
  <div>
    <p class="book-update">Finished reading 
      <a href="/reading/{{post.data.isbn}}/">
        {{post.data.book.title}} by {{post.data.book.authors}}
      </a> on 
      <time datetime="{{ post.date }}">
        {{ post.date | readableDates }}
      </time>
    </p>
  </div>
</li>