<nav aria-label="Footer navigation">
  <ul class="[ horizontal-links ]">
    <li>
      <a href="/colophon.html" class="[ hover-link ]">Colophon</a>
    </li>
    <li>
      <a href="/reading.html" class="[ hover-link ]">Reading</a>
    </li>
    <li>
      <a href="/week-notes/" class="[ hover-link ]">Week Notes</a>
    </li>
  </ul>
</nav>