<nav aria-label="Journal navigation">
  <ul class="[ horizontal-links ]">
    <li>
      <a href="/journal"
        class="[ journal-link ]">All</a>
    </li>
    <li>
      <a href="/journal/articles"
        class="[ journal-link ]">Articles</a>
    </li>
    <li>
      <a href="/journal/notes"
        class="[ journal-link ]">Notes</a>
    </li>
    <li>
      <a href="/journal/summaries"
        class="[ journal-link ]">Summaries</a>
    </li>
  </ul>
</nav>