<nav aria-label="header navigation">
  <ul class="[ horizontal-links ]">
    {%- for entry in collections.headerNavigationItems | eleventyNavigation | sortNavigationByTitle %}
      <li>
        <a href="{{ entry.url | url }}"
        {% if entry.url == page.url %}
          aria-current="page"
        {% endif %}
        >{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>