<a href="/journal/notes/{{post.date | noteTimestamp}}/"  class="note-title">
  <time datetime="{{ post.date }}" class="[ date ]">
    {{ post.date | readableDateFromTimestamp }}
  </time>
</a>
{{post.content | safe}}