<div class="book-container">
  {% cloudImage now.reading.thumbnail,
  "" %}
  <div>
    <p class="book-title">{{now.reading.title}}</p>
    <p>by {{now.reading.authors}}</p>
    <p>{{now.reading.pageCount}} pages</p>
  </div>
</div>