<div class="book-container">
  {% bookCover now.reading %}
  <div>
    <p class="book-title">{{now.reading.title}}</p>
    <p>by {{now.reading.authors}}</p>
    <p>{{now.reading.pageCount}} pages</p>
  </div>
</div>