<ul class="[ autofit-grid ] [ photos ] [ preview ]">
  {% for item in photoslist %}
    <li>
      <a href="{{item.url}}">
        {% image item.data.photo[0].url, item.data.photo[0].alt, "[ photo-item ]" %}
        {% if item.data.photo.length > 1 %}
          <svg width="30" height="30" role="img" aria-labelledby="{{item.url}}Title" focusable="false"
        class="[ gallery-icon ]">
            <title id="{{item.url}}Title">Gallery</title>
            <use href="/assets/icons/icons.svg#gallery"></use>
          </svg>
        {% endif %}
        <span class="[ visually-hidden ]">View the photo of {{item.data.photo[0].alt}}</span>
      </a>
    </li>
  {% endfor %}
</ul>