<ul class="[ horizontal-links ]">
  {% for site in social.sites %}
    <li>
      <a href="{{site.url}}" rel="me" class="[ icon-container ]">
        <svg width="30" height="30" role="img" aria-labelledby="{{site.icon}}Title" focusable="false" class="[ social-icon ]">
          <title id="{{site.icon}}Title">{{site.name}}</title>
          <use href="/assets/icons/icons.svg#{{site.icon}}"></use>
        </svg>
        <span class='[ visually-hidden ]'>View Declan's {{site.name}} profile</span>
      </a>
    </li>
  {% endfor %}
  <li>
    <a href="/journal/feed.xml" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
        <title id="rssTitle">RSS</title>
        <use href="/assets/icons/icons.svg#rss"></use>
      </svg>
      <span class='[ visually-hidden ]'>View the RSS feed for declanbyrd.co.uk</span>
    </a>
  </li>
</ul>