<ul class="[ horizontal-links ]">
  <li>
    <a href="https://www.github.com/declanbyrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="githubTitle" focusable="false" class="[ social-icon ]">
        <title id="githubTitle">Github</title>
        <use href="/assets/icons/icons.svg#github"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Github profile</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/declanbyrd/" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="linkedinTitle" focusable="false" class="[ social-icon ]">
        <title id="linkedinTitle">LinkedIn</title>
        <use href="/assets/icons/icons.svg#linkedin"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's LinkedIn profile</span>
    </a>
  </li>
  <li>
    <a href="https://indieweb.social/@declan_byrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="mastodonTitle" focusable="false" class="[ social-icon ]">
        <title id="mastodonTitle">Mastodon</title>
        <use href="/assets/icons/icons.svg#mastodon"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Mastodon profile</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/Declan_Byrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="twitterTitle" focusable="false" class="[ social-icon ]">
        <title id="twitterTitle">Twitter</title>
        <use href="/assets/icons/icons.svg#twitter"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Twitter profile</span>
    </a>
  </li>
</ul>