<ul class="[ horizontal-links ]">
  <li>
    <a href="https://dev.to/declan_byrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="devTitle" focusable="false" class="[ social-icon ]">
        <title id="devTitle">Dev Community</title>
        <use href="/assets/icons/icons.svg#devCommunity"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Dev Community profile</span>
    </a>
  </li>
  <li>
    <a href="https://www.flickr.com/photos/declanbyrd/" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="flickrTitle" focusable="false" class="[ social-icon ]">
        <title id="flickrTitle">Flickr</title>
        <use href="/assets/icons/icons.svg#flickr"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Flickr profile</span>
    </a>
  </li>
  <li>
    <a href="https://www.github.com/declanbyrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="githubTitle" focusable="false" class="[ social-icon ]">
        <title id="githubTitle">Github</title>
        <use href="/assets/icons/icons.svg#github"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Github profile</span>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/declan_byrd/" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="instagramTitle" focusable="false" class="[ social-icon ]">
        <title id="instagramTitle">Instagram</title>
        <use href="/assets/icons/icons.svg#instagram"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Instagram profile</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/declanbyrd/" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="linkedinTitle" focusable="false" class="[ social-icon ]">
        <title id="linkedinTitle">LinkedIn</title>
        <use href="/assets/icons/icons.svg#linkedin"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's LinkedIn profile</span>
    </a>
  </li>
  <li>
    <a href="/feed.xml" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="rssTitle" focusable="false" class="[ social-icon ]">
        <title id="rssTitle">RSS</title>
        <use href="/assets/icons/icons.svg#rss"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's RSS feed</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/Declan_Byrd" rel="me" class="[ icon-container ]">
      <svg width="30" height="30" role="img" aria-labelledby="twitterTitle" focusable="false" class="[ social-icon ]">
        <title id="twitterTitle">Twitter</title>
        <use href="/assets/icons/icons.svg#twitter"></use>
      </svg>
      <span class='[ visually-hidden ]'>View Declan's Twitter profile</span>
    </a>
  </li>
</ul>