<ol class="content-list flow">
  {% for post in collections.allSocial | reverse %}
    <li class="social-card">
      <div class="social-card-body">
        {% if post.site === "Mastodon" %}
          {% include "partials/socialPost.njk" %}
        {% else %}
          {% include "partials/note.njk" %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ol>