<div class="horizontal-links">
  {% for themeName, data in tokens.themes %}
    <button data-theme={{themeName}} aria-pressed="false">
      {% image data.thumbnail, "", "[ theme-icon ]"  %}
      <span class="visually-hidden">
        {{data.name}} theme.
      </span>
    </button>
  {% endfor %}
</div>